.btn-neutral {
  background-color: #fff;
  border-color: #e7eaf0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
  color: #16192c;
}
.btn-check:focus+.btn-neutral, .btn-neutral:focus, .btn-neutral:hover {
  background-color: #e7eaf0;
  border-color: #e7eaf0;
  color: #16192c;
}
.table.table-light th, .table .table-light th {
  background-color: #f5f9fc;
  color: #525f7f;
}
